@import "./fonts.scss";
@import "./variables.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-header.scss";
@import "blocks/stats.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";

body {
  min-width: 320px;
  padding: 0;
  margin: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal;

  color: #f7f4f1;
  background-color: $bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  bottom: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0 ,0 ,0);
  overflow: hidden;
}
